*{
    margin: 0px;
    padding: 0px;
  }
  
  h1{
    margin-top: 20px;
      margin-bottom: 20px;
  }
  
  
  #component{
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap:5px;
  }
  
  #cartImg{
      width: 150px;
      height: 120px;
  }

  h6{
    font-size: 15px;
  }
  
  .CartHolder{
      text-align: center;
      border: 1px solid black;
      padding:20px;
      background-color: black;
      color: white;
  }
